
ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 5px 0;
}

textarea {
    resize: vertical;
}

.flex-col {
    display: flex;
}

.add-button-div {
    margin-bottom: 0;
}

.add-button-group {
    margin: 5px 0;
}

.pointer {
    cursor: pointer;
}

body {
    padding-top: 70px;
}

.search-query {
    width: 40vw !important;
}

hr {
    margin: 10px 0 5px 0;
}

.navbar .input-group .btn {
    padding-top: 4px;
    padding-bottom: 4px;
}

#file-name {
    font-weight: 600;
}