
ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 5px 0;
}

textarea {
    resize: vertical;
}

.panel-heading,
.flex-col {
    display: flex;
}

.add-button-div {
    margin-bottom: 0;
}

.add-button-group {
    margin: 5px 0;
}

.pointer {
    cursor: pointer;
}